@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
    display: contents;
    font-family: 'Roboto Mono', monospace;
    a {
        text-decoration: none;
        display: inline;
        color: black;
    }
    header {
        width: 100%;
        height: 140px;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        .header-icons-container {
            width: 100%;
            height: 50px;
            display: grid;
            background-color: #47cfac;
            .icons {
                width: 300px;
                height: auto;
                display: flex;
                justify-items: flex-end;
                align-items: center;
                justify-content: space-between;
                justify-self: end;
                margin-right: 50px;
                span {
                    color: white;
                }
            }
        }
    }

    nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 90px;
        .nav-logo-container {
            margin-left: 50px;
            img {
                width: 220px;
                margin-top: 10px;
            }
        }
        .nav-id-container {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-right: 50px;
            a {
                color: black;
                border-bottom: 1px solid black;
            }
        }
    }

    .home {
        height: 100%;
        background-image: url(/css/assets/img/Cover.png);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        .main-container {
            text-align: center;
            margin-top: 5.7rem;
            .main-container-title {
                display: flex;
                flex-wrap: wrap-reverse;
                font-family: 'Roboto mono', monospace;
                color: white;
                letter-spacing: 10px;
                font-size: 30px;
                font-weight: 700px;
                width: auto;
            }
            .main-container-buttom {
                height: 40px;
                background-color: #47cfac;
                width: 110px;
                align-items: center;
                margin: 150px auto;
                display: grid;
                :hover {
                    background-color: #47cfac;
                    transform: scale(1.1);
                }
                span {
                    text-decoration: none;
                    font-size: 18px;
                    margin: auto;
                    font-weight: 700;
                    color: black;
                }
            }
        }
    }

    .blogs {
        display: grid;
        .blogs-news-container {
            background-color: #e6e9ed;
            padding: 0 50px 40px;
            .blogs-main-new {
                display: grid;
                grid-template-columns: 2fr 1fr;
                grid-template-rows: 2fr;
                
                .blogs-news-img {
                    grid-column: 1;
                    img {
                        width: 85%;
                    }
                }
                .blogs-news-info {
                    grid-column: 2;
                    p {
                        margin-bottom: 35px;
                    }
                    
                }
            }
        }
        .blogs-posts-container {
            padding: 0 50px 40px;
            h3 {
                border-bottom: 1px solid #cdd2da;
                padding-bottom: 20px;
                text-align: center;

            }
            .post-container {
                display: inline-block;
                padding-left: 10px;
                max-width: 30%;
                margin-bottom: 50px;
                img {
                    width: 100%;
                }
                p {
                    margin-bottom: 35px;
                }
            }
        }
    }

    footer {
        width: 100%;
        height: 80px;
        background-color: #22272d;
        border-top: 35px solid #47cfac;
        text-align: center;
        p {
            color: white;
            margin-top: 30px;
        }
    }
    .inactive {
        display: none;
    }

    .blogs-button {
        border:1px solid #47cfac;
        padding: 10px 15px;
        font-size: 12px;
        :hover {
            border: 1px solid white;
            color: white;
            background-color: #48CFAD;
            font-size: 18px;
        }
    }
}
